<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ur.bierdienung"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name="de.ur.mi.login.MainActivity" >
        </activity>
        <activity android:name="de.ur.mi.login.LoginSignupActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.ur.mi.bierdienung.BedienungTischAuswahlActivity"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity android:name="de.ur.mi.bierdienung.TischActivity" >
        </activity>
        <activity android:name="de.ur.mi.bierdienung.SpeiseKartenActivity" >
        </activity>
        <activity android:name="de.ur.mi.bierdienung.AbrechnungsActivity" >
        </activity>
        <activity android:name="de.ur.mi.ausschank_kueche.AusschankKuecheActivity" >
        </activity>
        <activity android:name="de.ur.mi.bierdienung.config.EinstellungenActivity" >
        </activity>
        <activity android:name="de.ur.mi.bierdienung.config.ManipulateKartenActivity" >
        </activity>
        <activity android:name="de.ur.mi.bierdienung.config.CreateProdukt" >
        </activity>
        <activity android:name="de.ur.mi.parse.SingleItemView" >
        </activity>
    </application>

</manifest>